*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);
}
.azul{
    
    color: blue;
}
.blanco{
   
    color: white;
}
.morado{
    
    color: violet;
}
.naranja{
    
    color: orange;
}
.img{
    width: 50%;
    height: 90%;
}
.img1{
    width: 70%;
    height: 100%;
}
.img2{
    width: 70%;
    height: 100%;
}